@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
 	overflow-x: hidden;
 	padding: 0;
 	margin: 0;
}

body {
  	background: url(../img/diligence-form.jpg) no-repeat center center fixed;    
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

nav a.navbar-brand img.img-responsive {
	max-width: 200px;
	margin-top: -20px;
}

.navbar-inverse {
    background-color: #000;
    border-color: #080808;
    border-radius: 0;
    padding: 10px;
}

.navbar-inverse .navbar-nav> li> a {
	font-family: "Montserrat";
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.navbar-inverse .navbar-nav> li> a:hover {
	color: #00a8ec;
}

.navbar-toggle {
	border-radius: 0;
}

/* Search Section */

section {
	margin-top: 10%;
}

form {
	padding: 45px 10px;
	background-color: #000;
	background: rgba(0, 0, 0, 0.1);
	width: 60%;
	border-bottom: 5px solid #00a8ec;
}

form input {
	padding: 23px 30px 20px;	
  	line-height: 24px;
  	outline: none;
  	border: 0;
	width: 100%;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 300;
  	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
 	background: rgba(255, 255, 255, 0.1);
  	text-align: center;
  	width: 80%;

}

form input::placeholder {
	color: #fff;
}

form button.btn.btn-search {
	padding: 23px 30px 20px;
	line-height: 22px;
	font-size: 16px;
	border-radius: 0;
	outline: none;
	margin-top: -5px;
    margin-left: -5px;
    color: #00a8ec;
    background-color: #000;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
	background: rgba(0, 0, 0, 0.9);
	text-align: center;
}

.footer h6 {
	font-size: 12px;
	font-family: "Montserrat";
    vertical-align: middle;
    line-height: 30px;
    color: #fff;
}

.footer span {
	margin: 0 10px;
	cursor: pointer;
}

/* ------------- Media Querries -------------*/


@media (max-width: 480px) {

	.navbar-inverse {
		padding: 0;
	}

	.navbar-nav {
		text-align: center;
	}

  	nav a.navbar-brand img.img-responsive {
		max-width: 120px;
		margin-top: -10px;
	}

	.navbar-toggle {
		border-radius: 0;
	}

	div.navbar-header {
		margin-top: 5px;
	}

	form {
		padding: 40px 0;
		width: 100%;
		margin-top: 20%;
	}

	form input,
	form button.btn.btn-search {
		width: 90%;
	}

	form button.btn.btn-search {
		margin-top: 2px;
		margin-left: 2px;
	}
}

@media (max-width: 767px) {

	.navbar-inverse {
		padding: 0;
	}

	.navbar-nav {
		text-align: center;
	}

  	nav a.navbar-brand img.img-responsive {
		max-width: 120px;
		margin-top: -10px;
	}

	.navbar-toggle {
		border-radius: 0;
	}

	div.navbar-header {
		margin-top: 5px;
	}

	form {
		padding: 40px 0;
		width: 80%;
		margin-top: 10%;
	}

	form input,
	form button.btn.btn-search {
		width: 90%;
	}

	form button.btn.btn-search {
		margin-top: 2px;
		margin-left: 2px;
	}
}